# Predicting Loan Charge Offs

Deutsche Bank provided a de-identified database of loan chargeoffs for a Kaggle competition.  The goal is to determine whether the loan will "chargeoff" given the provided data.  The data is very dirty; cleaning it is part of the challenge.  

Here's the thought processes in **Thinking Like a Data Scientist**:

In [1]:
## Standard imports
import os
import pandas as pd
import numpy as np
from sklearn import preprocessing,metrics 
from IPython.core.display import HTML
pd.set_option("display.max_columns",75)
pd.set_option("display.max_rows",5000)
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn import linear_model,svm
from sklearn.metrics import average_precision_score
from sklearn.metrics import precision_recall_curve

## Import the Data

We import the data from github from github to our Azure Notebook, then load that file to a pandas datafame, and take a peek at it.

In [3]:
! curl https://git.davewentzel.com/workshops/ai-envisioning/raw/master/datasets/LoansTrainingSet.csv -o ./datasets/LoansTrainingSet.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 45.1M  100 45.1M    0     0  1420k      0  0:00:32  0:00:32 --:--:-- 1441k

In [4]:
df = pd.read_csv('./datasets/LoansTrainingSet.csv')

In [5]:
df.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,Fully Paid,11520,Short Term,741.0,10+ years,Home Mortgage,33694.0,Debt Consolidation,$584.03,12.3,41.0,10,0,6760,16056,0.0,0.0
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,Fully Paid,3441,Short Term,734.0,4 years,Home Mortgage,42269.0,other,"$1,106.04",26.3,NaN,17,0,6262,19149,0.0,0.0
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,Fully Paid,21029,Short Term,747.0,10+ years,Home Mortgage,90126.0,Debt Consolidation,"$1,321.85",28.8,NaN,5,0,20967,28335,0.0,0.0
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,Fully Paid,18743,Short Term,747.0,10+ years,Own Home,38072.0,Debt Consolidation,$751.92,26.2,NaN,9,0,22529,43915,0.0,0.0
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,Fully Paid,11731,Short Term,746.0,4 years,Rent,50025.0,Debt Consolidation,$355.18,11.5,NaN,12,0,17391,37081,0.0,0.0

In [6]:
# the target variable is loan status, let's convert those to a boolean
# but let's first check that we do in fact have 2 unique statuses
df["Loan Status"].unique()

array(['Fully Paid', 'Charged Off'], dtype=object)

In [7]:
target_indicator = {"Fully Paid":0,"Charged Off":1}
df_scrubbed = df.replace({"Loan Status": target_indicator})

In [8]:
df_scrubbed.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,0,11520,Short Term,741.0,10+ years,Home Mortgage,33694.0,Debt Consolidation,$584.03,12.3,41.0,10,0,6760,16056,0.0,0.0
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,0,3441,Short Term,734.0,4 years,Home Mortgage,42269.0,other,"$1,106.04",26.3,NaN,17,0,6262,19149,0.0,0.0
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,0,21029,Short Term,747.0,10+ years,Home Mortgage,90126.0,Debt Consolidation,"$1,321.85",28.8,NaN,5,0,20967,28335,0.0,0.0
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,0,18743,Short Term,747.0,10+ years,Own Home,38072.0,Debt Consolidation,$751.92,26.2,NaN,9,0,22529,43915,0.0,0.0
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,0,11731,Short Term,746.0,4 years,Rent,50025.0,Debt Consolidation,$355.18,11.5,NaN,12,0,17391,37081,0.0,0.0

In [9]:
# let's look at some metrics
df_scrubbed['Loan Status'].value_counts()

0    176191
1     80793
Name: Loan Status, dtype: int64

In [10]:
print ("Current shape of dataset: ",df_scrubbed.shape)

Current shape of dataset:  (256984, 19)

## Feature Engineering

At this point we do a bunch of feature engineering to determine what are the most predictive features.

This usually means eliminating some of the supplied data and "ETLing" other data.

In [11]:
# let's git rid of columns that we don't think are predictive of Chargeoffs at this time
# this also keeps the example _very_ simple
del_col_names = [
    "Customer ID",
    "Current Loan Amount",
    "Years in current job",
    "Annual Income",
    "Purpose",
    "Years of Credit History",
    "Months since last delinquent",
    "Number of Open Accounts",
    "Number of Credit Problems",
    "Current Credit Balance",
    "Bankruptcies",
    "Tax Liens"]
df_scrubbed1 = df_scrubbed.drop(labels=del_col_names,axis = 1)
print ("Current shape of dataset: ",df_scrubbed1.shape)

Current shape of dataset:  (256984, 7)

In [23]:
df_scrubbed1.head()

,Loan ID,Loan Status,Term,Credit Score,Home Ownership,Monthly Debt,Maximum Open Credit
0,000025bb-5694-4cff-b17d-192b1a98ba44,0,Short Term,741.0,Home Mortgage,$584.03,16056
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,0,Short Term,734.0,Home Mortgage,"$1,106.04",19149
2,00002d89-27f3-409b-aa76-90834f359a65,0,Short Term,747.0,Home Mortgage,"$1,321.85",28335
3,00005222-b4d8-45a4-ad8c-186057e24233,0,Short Term,747.0,Own Home,$751.92,43915
4,0000757f-a121-41ed-b17b-162e76647c1f,0,Short Term,746.0,Rent,$355.18,37081

### Credit Score analysis

Let's see if we need to clean Credit Score.

Valid FICO scores range from 300-850.  Generally:

* 300-579: poor
* 580-669: fair
* 670-739: good
* 740-850: exceptional

In [13]:
display(df_scrubbed1['Credit Score'].value_counts().sort_index())

585.0       18
586.0       25
587.0       23
588.0       20
589.0       15
590.0       18
591.0       15
592.0       23
593.0       17
594.0       29
595.0       30
596.0       30
597.0       31
598.0       22
599.0       21
600.0       36
601.0       41
602.0       33
603.0       24
604.0       36
605.0       36
606.0       25
607.0       33
608.0       47
609.0       40
610.0       51
611.0       54
612.0       37
613.0       50
614.0       53
615.0       44
616.0       74
617.0       59
618.0       78
619.0       68
620.0       63
621.0       90
622.0       70
623.0       48
624.0       79
625.0      109
626.0       87
627.0       97
628.0      103
629.0       81
630.0       92
631.0       77
632.0       91
633.0      131
634.0       98
635.0      124
636.0      112
637.0      108
638.0      111
639.0      139
640.0      164
641.0      146
642.0      164
643.0      154
644.0      150
645.0      172
646.0      166
647.0      183
648.0      184
649.0      186
650.0      206
651.0      219
652.0      211
653.0      225
654.0      252
655.0      260
656.0      276
657.0      269
658.0      260
659.0      274
660.0      284
661.0      322
662.0      305
663.0      347
664.0      332
665.0      321
666.0      319
667.0      373
668.0      381
669.0      398
670.0      402
671.0      397
672.0      389
673.0      419
674.0      510
675.0      464
676.0      494
677.0      451
678.0      435
679.0      480
680.0      607
681.0      572
682.0      586
683.0      630
684.0      625
685.0      558
686.0      628
687.0      644
688.0      653
689.0      648
690.0      626
691.0      671
692.0      829
693.0      883
694.0      858
695.0      825
696.0      808
697.0      976
698.0     1003
699.0     1142
700.0     1079
701.0     1053
702.0     1116
703.0     1254
704.0     1262
705.0     1236
706.0     1256
707.0     1355
708.0     1404
709.0     1392
710.0     1337
711.0     1376
712.0     1630
713.0     1709
714.0     1720
715.0     1675
716.0     1818
717.0     1936
718.0     1944
719.0     1991
720.0     2093
721.0     2399
722.0     2285
723.0     2284
724.0     2441
725.0     2513
726.0     2627
727.0     2611
728.0     2930
729.0     3145
730.0     3058
731.0     3267
732.0     3468
733.0     3517
734.0     3618
735.0     3608
736.0     3600
737.0     4592
738.0     4598
739.0     5105
740.0     5537
741.0     5499
742.0     5219
743.0     5082
744.0     4739
745.0     5061
746.0     5486
747.0     5669
748.0     4773
749.0     2652
750.0     3854
751.0     2366
5850.0       3
5860.0       1
5870.0       4
5880.0       4
5890.0       7
5900.0       4
5910.0       3
5920.0       4
5930.0       2
5940.0       3
5950.0       5
5960.0       5
5970.0       7
5980.0       3
5990.0       3
6000.0       3
6010.0       8
6020.0      10
6030.0       4
6040.0       7
6050.0       5
6060.0       7
6070.0       3
6080.0      11
6090.0       5
6100.0      15
6110.0      11
6120.0       3
6130.0      12
6140.0       4
6150.0      11
6160.0      14
6170.0      12
6180.0      14
6190.0      15
6200.0      14
6210.0      17
6220.0      17
6230.0      16
6240.0      22
6250.0      17
6260.0      10
6270.0      19
6280.0      17
6290.0      17
6300.0      28
6310.0      11
6320.0      24
6330.0      15
6340.0      11
6350.0      28
6360.0      20
6370.0      19
6380.0      32
6390.0      25
6400.0      35
6410.0      24
6420.0      22
6430.0      29
6440.0      28
6450.0      35
6460.0      37
6470.0      34
6480.0      32
6490.0      41
6500.0      33
6510.0      48
6520.0      23
6530.0      34
6540.0      35
6550.0      35
6560.0      32
6570.0      47
6580.0      48
6590.0      43
6600.0      55
6610.0      50
6620.0      53
6630.0      52
6640.0      42
6650.0      57
6660.0      62
6670.0      61
6680.0      59
6690.0      69
6700.0      61
6710.0      76
6720.0      78
6730.0      65
6740.0      91
6750.0      66
6760.0      59
6770.0      71
6780.0      77
6790.0      88
6800.0      93
6810.0      70
6820.0      75
6830.0      99
6840.0     102
6850.0     102
6860.0     108
6870.0      81
6880.0      91
6890.0     105
6900.0      95
6910.0      86
6920.0     123
6930.0     112
6940.0     116
6950.0     104
6960.0     130
6970.0     141
6980.0     137
6990.0     154
7000.0     137
7010.0     190
7020.0     145
7030.0     150
7040.0     145
7050.0     138
7060.0     136
7070.0     163
7080.0     165
7090.0     152
7100.0     154
7110.0     175
7120.0     206
7130.0     227
7140.0     177
7150.0     190
7160.0     217
7170.0     202
7180.0     199
7190.0     210
7200.0     254
7210.0     278
7220.0     237
7230.0     230
7240.0     257
7250.0     218
7260.0     256
7270.0     274
7280.0     272
7290.0     294
7300.0     266
7310.0     270
7320.0     272
7330.0     277
7340.0     269
7350.0     269
7360.0     297
7370.0     326
7380.0     326
7390.0     307
7400.0     340
7410.0     344
7420.0     312
7430.0     302
7440.0     233
7450.0     227
7460.0     250
7470.0     193
7480.0     153
7490.0      72
7500.0      74
7510.0      38
Name: Credit Score, dtype: int64

### Outliers 

Note that we have some outliers.  What we should do is figure out why those outliers exist.  Or we can "impute" values.  For now, let's just drop the bad data

In [24]:
df_scrubbed2 = df_scrubbed1[df_scrubbed1['Credit Score'] <= 850]

In [22]:
print ("Current shape of dataset: ",df_scrubbed2.shape)

Current shape of dataset:  (179121, 7)

In [25]:
df_scrubbed2.head()

,Loan ID,Loan Status,Term,Credit Score,Home Ownership,Monthly Debt,Maximum Open Credit
0,000025bb-5694-4cff-b17d-192b1a98ba44,0,Short Term,741.0,Home Mortgage,$584.03,16056
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,0,Short Term,734.0,Home Mortgage,"$1,106.04",19149
2,00002d89-27f3-409b-aa76-90834f359a65,0,Short Term,747.0,Home Mortgage,"$1,321.85",28335
3,00005222-b4d8-45a4-ad8c-186057e24233,0,Short Term,747.0,Own Home,$751.92,43915
4,0000757f-a121-41ed-b17b-162e76647c1f,0,Short Term,746.0,Rent,$355.18,37081

### Binning the Credit Score

Binning is a good way to take a continuous variable and make it categorical

In [32]:
df_scrubbed2['Credit Score Bin'] = pd.cut(df_scrubbed2['Credit Score'],[300,580,670,740,850], right=False)

In [33]:
df_scrubbed2.head()

,Loan ID,Loan Status,Term,Credit Score,Home Ownership,Monthly Debt,Maximum Open Credit,Credit Score Bin
0,000025bb-5694-4cff-b17d-192b1a98ba44,0,Short Term,741.0,Home Mortgage,$584.03,16056,"[740, 850)"
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,0,Short Term,734.0,Home Mortgage,"$1,106.04",19149,"[670, 740)"
2,00002d89-27f3-409b-aa76-90834f359a65,0,Short Term,747.0,Home Mortgage,"$1,321.85",28335,"[740, 850)"
3,00005222-b4d8-45a4-ad8c-186057e24233,0,Short Term,747.0,Own Home,$751.92,43915,"[740, 850)"
4,0000757f-a121-41ed-b17b-162e76647c1f,0,Short Term,746.0,Rent,$355.18,37081,"[740, 850)"